extends template/base.pug

block content
    h1 About
    span.image
        img(src="/images/personal-img.jpg" style="width: 64%; margin-bottom: 1em")

    p
        | Hello, my name is Yang Hong-Bin, Taiwanese. Petingo is my nickname as well as my online identity. #[br]
        | Currently, I am pursuing my Master in Computer Science at École polytechnique fédérale de Lausanne (EPFL), Switzerland.

    p
        | I completed my Bachelor in Computer Science at Taiwan Tech (NTUST),
        | where I spent my last semester at Czech Technical University in Prague as an exchange student during the harsh time of COVID-19. #[br]
    
    p 
        | Because of my interest in photography, I had done some research on image processing in the past years, including image and video compression, quality enhancement, and fake image detection
        | (with both mathematical and deep learning-based methods).
        | During my Bachelor's study, I collaborated with #[a(href="http://faculty.csie.ntust.edu.tw/~klchung/") Prof. Kuo-Liang Chung] and published
        | #[a(href="https://ieeexplore.ieee.org/stamp/stamp.jsp?tp=&arnumber=9108293&tag=1") Effective Chroma Subsampling and Luma Modification for RGB Full-color Images Using the Multiple Linear Regression Technique],
        | which is now state-of-the-art in YUV420 chroma subsampling. After graduating from university, I worked as a research assistant at Academia Sinica, Taiwan, and conducted research on
        | deep learning-based image forgery detection under Prof. Chen, Jun-Cheng's supervision.

    p
        | I am also an award-winning photographer, where I won the Special Award in 2021 Shin Kong Mitsukoshi International Photography Contest with #[a(href="https://www.instagram.com/p/CIGk6ATg41Z/?utm_source=ig_web_copy_link") this photo].
        | If you are interested in my photography works and want to see more, please visit my #[a(href="https://vsco.co/petingo/") vsco] or follow my #[a(href="https://instagram.com/petingo") instagram].

    p
        | I love Architecture so much. I have taken several courses in Architecture and Interior Design when I studying my Bachelor. 
        | Although I have limited experience and skills in this field, I hope I can work in the intersection between Computer Science and Architecture in the future.
    
    p 
        | For the detailed Curriculum Vitae, please refer to #[a(href="https://cv.petingo.ch/") here].