extends template/base.pug

block content
    h1 YANG Hong-Bin

    h2 Education 
    p
    | École Polytechnique Fédérale de Lausanne (EPFL) #[span(class="right-align") Lausanne, Switzerland]
    | M.S. in Computer Science; GPA 5.4 / 6.0	Sep 2021 - Present

//- National Taiwan University of Science and Technology (Taiwan Tech)	Taipei, Taiwan
//- B.S. in Computer Science; GPA 4.1 / 4.3 	Sep 2016 - Jun 2020

//- Skills
//- Technical: C, C++, Python, Javascript, Go / Computer Vision, Deep Learning, 3D Geometry Computing, Web front-end
//- Language: English (C1-C2), German (Beginner), Japanese (Basic), Mandarin (Native)

//- Professional Experience
//- IBOIS (Laboratory for Timber Constructions), EPFL 	 Lausanne, Switzerland
//- Part-time Student Assistant & Full-time Summer Internship	Apr 2022 - Present
//- Participated in a research project of augmented reality for hand-held carpentry tools.
//- Refined an open-source SLAM method and integrated it into the main program (in C++), including developing new features such as map fusion and 3D model reconstruction, enabling OpenGL compatibility to fuse the virtual scene and the camera view, and resolving several bugs in the original code to increase the robustness and stability.

//- Artificial Intelligence and Image Understanding Lab, Academia Sinica	Taipei, Taiwan
//- Research Assistant	Jul 2020 - Dec 2020
//- Explored the possibility of utilizing image quality assessment methods (NIMA and BRISQUE) to enhance the realness of the composite image produced by deep learning-based image harmonization methods (e.g. Deepfake).
//- Re-implemented a deep learning-based image forgery detection method (Face X-ray) in PyTorch and tried to improve it by introducing more features such as DCT and FFT.

//- STAR BIT Innovation Co.,Ltd. 	 New Taipei, Taiwan
//- Software Engineer Intern 	Mar 2018 - Jul 2019
//- Developed front-end APIs of a decentralized cryptocurrency exchange in JavaScript to enable 5 different kinds of Ethereum wallets to interact with the Ethereum blockchain directly through the web interface.
//- Collaborated with KeyXentic and developed a Chrome Extension that enables web3.js support for their hardware wallet.

//- Publication
//- H. B. Yang, M. Johanes, F. C. Kim, M. Bernhard, & J. Huang, "Architectural Sketch to 3D Model: An Experiment on Simple-Form Houses," Under review of CAAD Future 2023
//- Created a synthetic dataset of 3D house models and corresponding hand-drawn sketches with Rhino Grasshopper and trained a deep learning network that can generate a 3D mesh based on a hand-drawn sketch.
//- Built a web-based interface for demonstration, where the user can sketch and view the generated result in a browser.

//- Chung, K. L., Cheng, J. S., & Yang, H. B., "Effective Chroma Subsampling and Luma Modification for RGB Full-Color Images Using the Multiple Linear Regression Technique," IEEE Access, 8, 118315-118323., Jun 2020
//- Proposed the initial idea of applying multiple linear regression on YUV420 subsampling to minimize the distortion.
//- The final result outperformed the previous state-of-the-art by 1.1dB (2.5%) in the evaluation of PSNR.

//- Honors & Awards
//- 2021 | Special Award of the Year – Shin Kong Mitsukoshi International Photography Contest
//- 2019 | College Student Research Scholarship – Ministry of Science and Technology, Taiwan
//-  Proposed a CNN-based chroma upsampling method for light field image, which outperforms the conventional
//-  bicubic and bilinear method by 1.24dB (2.9%) and 2.22dB (5.4%), respectively, in the evaluation of PSNR.
//- 2019 | Silver Award – ACM-ICPC Taiwan National Contest for Technology Universities
//-  Competitive programming contest; preliminary for ACM International Collegiate Programming Contest (ACM-ICPC)
//- 2018 | 1st Place – National Taiwan University System App Innovation Contest
//-  Demonstrated a map-based student forum (Android APP, Java)
//- 2018 | Honorable mention – National Collegiate Programming Contest (Taiwan)
//-  Competitive programming contest; preliminary for ACM International Collegiate Programming Contest (ACM-ICPC)
//- 2017 | Best Presentation Award – Intelligent Living Hackathon
//-  Demonstrated a management system for a shared refrigerator using an Android phone and student ID.

    
//-     p
//-         | Hello, I'm Petingo, a Master student in Computer Science at École polytechnique fédérale de Lausanne (EPFL), Switzerland.        
//-         | I'm working as a research assistant at the IBOIS()
//-     p
//-         | I completed my Bachelor in Computer Science at Taiwan Tech (NTUST),
//-         | where I spent my last semester at Czech Technical University in Prague as an exchange student during the harsh time of COVID-19. #[br]
    
//-     p 
//-         | Because of my interest in photography, I had done some research on image processing in the past years, including image and video compression, quality enhancement, and fake image detection
//-         | (with both mathematical and deep learning-based methods).
//-         | During my Bachelor's study, I collaborated with #[a(href="http://faculty.csie.ntust.edu.tw/~klchung/") Prof. Kuo-Liang Chung] and published
//-         | #[a(href="https://ieeexplore.ieee.org/stamp/stamp.jsp?tp=&arnumber=9108293&tag=1") Effective Chroma Subsampling and Luma Modification for RGB Full-color Images Using the Multiple Linear Regression Technique],
//-         | which is now state-of-the-art in YUV420 chroma subsampling. After graduating from university, I worked as a research assistant at Academia Sinica, Taiwan, and conducted research on
//-         | deep learning-based image forgery detection under Prof. Chen, Jun-Cheng's supervision.

//-     p
//-         | I am also an award-winning photographer, where I won the Special Award in 2021 Shin Kong Mitsukoshi International Photography Contest with #[a(href="https://www.instagram.com/p/CIGk6ATg41Z/?utm_source=ig_web_copy_link") this photo].
//-         | If you are interested in my photography works and want to see more, please visit my #[a(href="https://vsco.co/petingo/") vsco] or follow my #[a(href="https://instagram.com/petingo") instagram].

//-     p
//-         | I love Architecture so much. I have taken several courses in Architecture and Interior Design when I studying my Bachelor. 
//-         | Although I have limited experience and skills in this field, I hope I can work in the intersection between Computer Science and Architecture in the future.
    
//-     p 
//-         | For the detailed Curriculum Vitae, please refer to #[a(href="https://cv.petingo.ch/") here].