extends template/base.pug

block content
    div#article
        h1 Geometric Computing
        p
            b (This page is under construction, some parts may be missing)
        span.image.main
            img(src="/images/light-field-image-chroma-upsampling/main.png")
        