extends template/base.pug

block content
    header
        h1(style="line-height: 1.3;") I'm Petingo, #[br] I do #[span#typeit-block]
        p
            | I'm a Master's student in Computer Science at EPFL, Switzerland, with a passion for Computer Vision, Digital Fabrication, and AR/MR/VR. #[br]
            | I thrive on exploring uncharted territories and approaching problems from unique perspectives, generating innovative ideas and making them come true.
        
        ul.icons(style="margin-bottom: 4em;")
            li
                a.icon.brands.style1.fa-github(href="https://github.com/Petingo")
                    span.label Github
            li
                a.icon.solid.style1.fas.fa-book(href="https://blog.petingo.ch")
                    span.label blog
            li
                a.icon.solid.style1.fas.fa-camera-retro(href="https://vsco.co/petingo")
                    span.label vsco
            li
                a.icon.brands.style1.fa-instagram(href="https://instagram.com/petingo")
                    span.label Instagram
            li
                a.icon.solid.style1.fa-envelope(href="mailto:eyanghongbin0315@gmail.com")
                    span.label Email
    section.tiles
        mixin article(title, disc, img_src, href)
            article.style1
                span.image
                    img(src=img_src alt="")
                a(href=href)
                    h2= title
                    div.content
                        p= disc
        
        +article(
            'Digital Design and Making',
            'The course project of Digital Design and Making',
            'images/cover/DDM.png',
            'projects/digital-design-and-making.html')

        +article(
            'Architectural Sketch To 3D Model',
            'Turning architectural sketches into 3D models with deep learning.',
            'images/cover/sketch-to-3d.png',
            'projects/sketch-to-3d.html')

        +article(
            'Geometric Computing',
            'The course project of Geometric Computing, including "Make it stand", elastic material fabriction, and minimal surface construction',
            'images/cover/small-projects.png',
            'https://blog.petingo.ch/Geometric-Computing/')

        +article(
            'Shadow Sculpture',
            'A tool for creating lamp that cast custom shadows',
            'images/cover/shadow-sculpture.png',
            'https://docs.google.com/presentation/d/17oFZuzQ_6P-fuGNTJg-5JbMICKUBCEk1k2DVd8Q5-gE/edit?usp=sharing'
        )

        +article(
            'Sketch2CADScript',
            '3D Scene Reconstruction from 2D Sketch using Visual Transformer and Grasshopper',
            'images/cover/sketch2cadscript.png',
            'https://drive.google.com/file/d/1Za9SamYH9A3Vu2ZxBImBScoAMD7FK9zZ/view?usp=sharing'
        )

        +article(
            'Space Golf',
            'Play golf in outer space!',
            'images/cover/space-golf.png',
            'https://drive.google.com/file/d/1jfNulE_uKYAJ0LojmXIXljSy_VH8Ebr1/view?usp=sharing'
        )

        +article(
            'Road Segmentation',
            'Project of Machine Learning, segmenting Roads from Aerial Images',
            'images/cover/road-segmentation.png',
            'projects/road-segmentation.html')

        +article(
            'Exploration Or Obedience',
            'A interactive device that encourage people to question the value of religion',
            'images/cover/exploration-or-obedience.jpg',
            'projects/exploration-or-obedience.html')

        +article(
            'PTT Theme',
            'A Chrome Extension for customizing your PTT!',
            'images/cover/ptt-theme.png',
            'projects/ptt-theme.html')

        +article(
            'Fold the Refuge',
            'Project of Architecture Design I. A refuge formed by foldable components, which is designed for rapid recovery from a natural disaster.',
            'images/cover/fold.png',
            'projects/fold.html')

        +article(
            'Effective Chroma Subsampling',
            'State-of-the-art YUV420 subsampling method.',
            'images/cover/chroma-subsampling.png',
            'projects/chroma-subsampling.html')

        +article(
            'HDR',
            'Project of VFX, constructing an HDR image without using a library',
            'images/cover/HDR.jpg',
            'https://blog.petingo.ch/VFX-HDR/')

        +article(
            'Light Field Image Chroma Upsampling',
            '(Page under construction) A CNN-based method for chroma upsampling of light field images',
            'images/cover/light-field-image-chroma-upsampling.png',
            'projects/light-field-image-chroma-upsampling.html')

        +article(
            'Blackjack Bot',
            'A bot that plays Blackjack online based on a dedicated algorithm',
            'images/cover/blackjack-bot.png',
            'projects/blackjack-bot.html')

        +article(
            'Highway Speed Prediction',
            'Project of IoT Data Analysis, predicting the average speed of a highway in 30 mins',
            'images/cover/highway-speed-pred.png',
            'https://blog.petingo.ch/Highway-Average-Speed-Prediction/')
        
        +article(
            'Hame',
            'Project of Intro to HCI. An equipment made for enhancing immersion of FPS games.',
            'images/cover/hame.jpg',
            'projects/hame.html')

        +article(
            'Smart Ped Xing',
            'A more interactive pedestrian crossing.',
            'images/cover/smart-Xing.jpg',
            'projects/smart-xing.html')

        +article(
            'NUTS',
            'A map-based campus forum.',
            'images/cover/NUTS.png',
            'projects/NUTS.html')

        +article(
            'Photography works',
            'My photography works.',
            'images/cover/photography.png',
            'projects/photography.html')
    